body {
  font-family: 'Quicksand', sans-serif;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.nameheader {
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.navbar {
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}

.textoverimage{
  font-family: 'Quicksand', sans-serif;
  margin: 4px;
  width: 500px;
  height: 500px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.textoverimage img{
  width:100%;
  height:100%;
  border-radius: 8px;
  transition: .3s;
}
.textoverimage:hover img{
  filter:blur(2px) brightness(60%)
}
.textoverimage :not(img){
  font-family: 'Quicksand', san-serif;
  text-align: left;
  position: absolute;
  top:50%;
  z-index: 1;
  color: white;
  opacity: 0;
  transition: 0.3s;
  margin: 10px;
}
.textoverimage:hover :not(img){
  opacity: 1;
}
.textoverimage h3{
  font-family: 'Quicksand', san-serif;
  font-style: italic;
  top:30%;
  font-size: 16px;
}
.textoverimage h2{
  font-family: 'Quicksand', san-serif;
  font-weight: bolder;
  top:20%;
  font-size: 40px;
}
.photofooter h2{
  font-family: 'Quicksand', san-serif;
  text-align: center;
  font-size: 30px;
  font-weight:bold;
  color: black;
}
